name: Maven Package & Release

concurrency: 
  group: "maven-build"
  cancel-in-progress: true

permissions:
  contents: write

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'zulu'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: "latest-1.21.11"
        name: "[1.4.7 for 1.21.11] Development Build"
        body: "Push-ly development build for Caramel. Updated on every push - ignore the 'commits to master since this release' if you're on the latest tag."
        prerelease: false
        files: |
              ./target/*.jar
